*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
.header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/worship.jpd.jpg);
     min-height: 100vh;
     width: 100%;
     background-position: center;
     background-size: cover;
     position: relative;
}
.nav-links {
    display: flex;
    gap: 20px;
   
}
.nav-links ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0px;
    margin-left: 40%;
}
.nav-links li {
    margin-left: 70%;
    justify-content: space-between;
    margin: 20px;
    
}
.nav-links a {
    color: #fff;
}
.logo {
    border-radius: 0%;
    float: left;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-left: 30px;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 90%;
    align-items: flex-end;
}
.search {
width: 0px;
float: left;
margin: 20px;
display: flex;
margin-left: 20px;


}
.srch{
    width: 80px;
    height: 20px;
    background: transparent;
    font-style: italic;
    color: white;
}
.min h1 {
    color: #fff;
    text-align: center;
    font-weight:900;
    font-size: 90px;
    margin-top: 15%;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.ministry-col {
    background-color: azure;
    flex-basis: 12%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 2px 8px rgba(0,0,0);
}
.ministries h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ministries h2 {
    color: ;
}
@media(max-width: 1024px)  {
    
    .nav-links {
        display: none;
        position: absolute;
        right: 3%;
        background-color: rgba(255,255,255,0.1);
        text-align: left;
        backdrop-filter: blur(20px);
        width: 40%;
    }
    .search {
        margin: 2px;
        display: flex;
        margin-left: 8px;
    }
    .srch {
        margin-left: -20px;
    }
    .btn {
        margin-left: 8px;
        margin: 10px;
    }
    .nav-links ul{
        flex-direction: column;
    }
    .nav-links li {
        margin: 15px;
    }
    .nav-links.active {
        display: flex;
    }
    .logo {
        width: 50px;
        height: auto;
    }
    .menu-toggle {
        display: block;
        color: white;

    }
    .nav-links a {
        display: block;
        font-size: 15px;
        margin: -10px;
    }
    .row {
        flex-direction: column;
    }
    .min h1 {
        font-size: 30px;
        margin-top: 30%;
    }
    .ministry-col {
        width: 70%;
        margin-left: 17%;
    }
}